	<section class="content break break-primary module">
		<div class="container">
			<div class="row">
				<div class="col-md-9 center-block">
					<h3 class="text-center text-uppercase">Start trading stocks, ETFs and options more successfully with "the wind at your back" for more consistent and bigger gains.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7 col-xs-12 center-block"> 
					<h2 class="text-uppercase text-center" data-toggle="modal" data-target="#signup"><a class="btn btn-lg btn-success">Get Access Today!</a></h2>
				</div>
			</div>
		</div>
	</section>