<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]--> 
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>   
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="author" content="The Darwin Investing Network">
        <meta name="description" content="{{>meta_description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <!-- Main Styles -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css?v=0.6.1">
        <!-- Autor: MobiusZero -->
        <!-- Created: 09192016 -->
        <!-- Contact: mz(at)mz.com -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif] -->
        {{>body}}
    </body>
</html>