	<section class="content break break-primary module">
		<div class="container">
			<div class="row">
				<div class="col-md-10 center-block">
					<h2 class="text-center">These 2017 training materials are valued at $499, but today with no
CC required you’ll receive these timely assets for FREE.</h2>
                    <button class="btn btn-block btn-warning center-block" data-toggle="modal" data-target="#signup">Click Here To Get Access</button>
				</div>
			</div> 
		</div>
	</section> 