<section class="content module coreg">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1 class="text-center text-capitialize">If you think that was a good deal, you are in for something ever better!</h1>
				<h3 class="text-center text-capitialize text-primary">Choose any of the offers below at no cost to you ...</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 center-block">
				<div class="coreg_iframe">
					{{>coreg_script}}
				</div>
			</div>
		</div>
	</div>
</section>